{% extends 'base.html' %}

{% block content %}
<ul>
{% for tw in all_answers %}
    Question id: {{ tw[0] }} <br><li>{{ tw[1] }}<br><i>asked by</i> <strong>{{ tw[2] }}</strong><br>Answer(s): 
    {% for a in tw[3] %}
    	<ul> <li> {{ a }} </li></ul>
    {% endfor %}
	</li><br><br>
{% endfor %}
</ul>

{% if not all_answers %}
    There are no saved answers to show.
{% endif %}


<div>
{% for message in get_flashed_messages() %}
    <strong>*** {{ message }} ***</strong>
{% endfor %}
</div>
{% endblock %}
